<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    function aa(){
        document.getElementById("aa").style="display: none";
    }
</script>
<body>
    <form action="/welcome" method="post">
        用户名：<input name="name" type="text" value="" onclick="aa()" id="uname" placeholder="输入用户名"/><br><br>
        密 码：<input name="pwd" type="password" value="" onclick="aa()" placeholder="输入密码"/><br><br>
        <input type="submit" value="确定"/>{% if biaoshi=="0" %}<p id="aa" style="color: red">用户名或密码输入错误。</p>{% endif %}
    </form>
</body>
</html>